{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <p>Let's keep building BudgetBuddy together.</p>
    <uL class="navbar-nav ml-auto mt-2">
        <li class="nav-item"><a class="nav-link" href="/balance">Cash Balance</a></li>
        <li class="nav-item"><a class="nav-link" href="/transactions">Add transactions</a></li>
        <li class="nav-item"><a class="nav-link" href="/analytics">Analytics</a></li>
        <li class="nav-item"><a class="nav-link" href="/history">Transaction History</a></li>
    </uL>
    </form>
{% endblock %}